<template>
  <v-app>
    <v-main fluid style="background-color: #011931">
      <nuxt style="background-color: #011931"/>
    </v-main>
  </v-app>
</template>

<script>
export default {

  data: () => ({}),

}
</script>

