<template>
  <v-app>
    <v-navigation-drawer app v-model="drawer">
      <v-list rounded class="mt-2">
        <div class="d-flex justify-center">
          <v-subheader>
            <template v-if="emailUser">
              Login : {{ emailUser }}
            </template>
            <template v-else>
              Guess
            </template>
          </v-subheader>
        </div>
        <v-divider></v-divider>
        <v-list-item-group v-model="item" color="primary" class="mt-5">
          <v-list-item v-for="(item, i) in items" :key="i" link :to="item.path">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app style="background-color: teal" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">

        <span class="font-weight-light">Crypto</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="pa-4">
        <v-btn class="hidden-sm-and-down" icon style="background-color: teal" @click.prevent="onClickChangeLanguage()">
          <v-icon>mdi-web</v-icon>
          <span class="mr-2" style="background-color: teal">{{ currentLanguage }}</span>
        </v-btn>
        <v-btn text style="background-color: teal" v-if="!$auth.user" @click.prevent="onClickRegister()">
          <template v-if="currentLanguage === 'TH'">
            สมัครใช้งาน
          </template>
          <template v-else>
            Register
          </template>
        </v-btn>
        <v-btn text style="background-color: teal" v-if="!$auth.user" @click.prevent="onClickLogin()">
          <template v-if="currentLanguage === 'TH'">
            เข้าสู่ระบบ
          </template>
          <template v-else>
            Login
          </template>
        </v-btn>
        <v-btn text style="background-color: teal" v-if="$auth.user" @click.prevent="onClickLogout()">
          <template v-if="currentLanguage === 'TH'">
            ออกจากระบบ
          </template>
          <template v-else>
            Logout
          </template>
        </v-btn>

        <!--       <toggle-change-language class="navbar_btn"></toggle-change-language>-->
      </v-toolbar-items>
    </v-app-bar>

    <v-main fluid>
      <nuxt/>
    </v-main>

    <!--    <bottom-navigation app class="d-flex d-md-none"></bottom-navigation>-->

    <change-language-dialog ref="changeLanguageDialog"></change-language-dialog>
    <confirm-logout-dialog ref="confirmLogoutDialog" @emitLogout="onEmitLogout"></confirm-logout-dialog>
    <error-dialog ref="errorDialog"></error-dialog>
    <!--    <register-dialog ref="registerDialog"></register-dialog>-->
  </v-app>
</template>

<script>
import {mapState} from 'vuex'
import BottomNavigation from '@/components/BottomNavigation'
import ChangeLanguageDialog from '@/components/ChangeLanguageDialog'
import ConfirmLogoutDialog from "~/components/ConfirmLogoutDialog";
import ErrorDialog from "~/components/ErrorDialog";

export default {
  mounted() {
    this.getSessionToken()
  },
  components: {
    BottomNavigation,
    ChangeLanguageDialog,
    ConfirmLogoutDialog,
    ErrorDialog,
  },
  data: () => ({
    drawer: false,
    item: 1,
    items: [
      {text: "Home", icon: "mdi-clock", path: '/'},
      {text: "Register", icon: "mdi-fingerprint", path: '/register'},
      // {text: "Payment", icon: "mdi-bank-transfer", path: '/payment'},
      {text: "Forecast", icon: "mdi-chart-line", path: '/forecast'},
      {text: "Manage Profile", icon: "mdi-account-edit", path: '/profile'},
      {text: "Forget Password", icon: "mdi-lock-reset", path: '/forget-password'},
    ],
    isShowConfirmLogoutDialog: false
  }),
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
    emailUser() {
      return this.$auth.user?.Email ? this.$auth.user.Email : ''
    },
  },
  methods: {
    onClickChangeLanguage() {
      if (this.$refs.changeLanguageDialog) {
        this.$refs.changeLanguageDialog.openDialog()
      }
    },
    onClickRegister() {
      // use with register dialog.
      // if(this.$refs.registerDialog){
      //   this.$refs.registerDialog.openDialog()
      // }
      this.$router.push({path: '/register'})
    },
    async getSessionToken() {
      await this.$store.dispatch('session/setSessionToken')
    },
    onClickLogout() {
      this.$refs.confirmLogoutDialog.openDialog()
    },
    onEmitLogout(val) {
      if (val) {
        try {
          this.$auth.logout('local')
              .then((response) => {
                this.$refs.confirmLogoutDialog.forceStateLogout(true)
              }).catch((error) => {
            this.$refs.errorDialog.showDialog(error.response.data)
          })
          this.$refs.confirmLogoutDialog.onClickCloseDialog()
        } catch (error) {
          this.$refs.errorDialog.showDialog(error.response.data)
        }
      }
    },
    onClickLogin() {
      this.$router.push('/login');
    },
  },
}
</script>

