<template>
  <v-app>
    <v-navigation-drawer  app v-model="$vuetify.breakpoint.mdAndUp, drawer" stateless class="hidden-sm-and-down">
      <v-list rounded>
        <v-subheader>REPORTS</v-subheader>
        <v-list-item-group v-model="item" color="primary">
          <v-list-item v-for="(item, i) in items" :key="i">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app class="hidden-sm-and-down" style="background-color: teal" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">

        <span class="font-weight-light">Crypto</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn text href="https://github.com/vuetifyjs/vuetify/releases/latest" target="_blank">
        <span class="mr-2">Latest Release</span>
      </v-btn>
    </v-app-bar>

    <v-content fluid>
      <nuxt />
    </v-content>

<!--    <v-bottom-navigation app class="d-flex d-md-none">-->
<!--      <v-btn value="recent">-->
<!--        <span>Recent</span>-->
<!--        <v-icon>history</v-icon>-->
<!--      </v-btn>-->

<!--      <v-btn value="favorites">-->
<!--        <span>Favorites</span>-->
<!--        <v-icon>favorite</v-icon>-->
<!--      </v-btn>-->

<!--      <v-btn value="nearby">-->
<!--        <span>Nearby</span>-->
<!--        <v-icon>place</v-icon>-->
<!--      </v-btn>-->
<!--    </v-bottom-navigation>-->
    <bottom-navigation app class="d-flex d-md-none"></bottom-navigation>

  </v-app>
</template>

<script>
import HelloWorld from '/components/HelloWorld'
import BottomNavigation from '@/components/BottomNavigation'
export default{

  components:{
    HelloWorld,
    BottomNavigation
  },
  data:()=>({
    drawer:false,
    item: 1,
    items: [
      { text: "Home", icon: "mdi-clock" },
      { text: "Conversions", icon: "mdi-flag" },
      { text: "Register", icon: "mdi-account" },
    ]
  }),
  computed: {
    mini() {
      return this.$vuetify.breakpoint.mdAndDown;
    }
  }
}
</script>
