<template>
  <span>Payment</span>
</template>

<script>


export default {
  mounted() {
    //this.test()
  },
  methods: {
    // test(){
    //   this.$axios.get('/GetToken',{
    //     headers: {
    //       'accessID':'b9e0cb83d5f9445ca59fcb3a9afffdd8'
    //     }
    //
    //   }).then(({data})=>{
    //     console.log('success :', data.sessionToken)
    //     this.testB(data.sessionToken)
    //     this.testC(data.sessionToken)
    //
    //   }).catch((error)=>{
    //     console.log('error :', error)
    //   })
    // },
    // testB(token){
    //   console.log('testB :', token)
    //   const data = {
    //     "Test": "SendData"
    //   }
    //   const header = {
    //     'Content-Type': 'application/json',
    //     'X-CSRF-TOKEN':`${token}`
    //   }
    //   this.$axios.post('/TestJson',data, {
    //     headers: header
    //   }).then((data)=>{
    //     console.log('success :', data)
    //   }).catch((error)=>{
    //     console.log('error :', error)
    //   })
    // },
    // testC(token){
    //   const data = {
    //     "data": {
    //       "ProfileName": "Register03",
    //       "Login": "narin.c",
    //       "Password": "P@ssw0rd",
    //       "Email": "ninja_123@hotmail.com",
    //       "PackagePriceId": 2,
    //       "CryptoCurrencyId": 5
    //     }
    //   }
    //   const header = {
    //     'Content-Type': 'application/json',
    //     'X-CSRF-TOKEN':`${token}`
    //   }
    //   this.$axios.post('/PackagePrice/GetAll',data, {
    //     headers: header
    //   }).then((data)=>{
    //     console.log('success :', data)
    //   }).catch((error)=>{
    //     console.log('error :', error)
    //   })
    // }
  },
}
</script>
