<template>
  <v-container>
    <div class="d-flex justify-center align-center">
      <v-card light width="100%">
        <v-card-title>
          <v-icon size="30" class="mr-2">
            mdi-lock-reset
          </v-icon>
          <h2 v-if="currentLanguage === 'TH'">ลืมรหัสผ่าน</h2>
          <h2 v-else>Forget Password</h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="mb-4">
          <div class="body-header-forget-password">
            <span v-if="currentLanguage === 'TH'">กรอกอีเมล์เพื่อยืนยันตัวตน</span>
            <span v-else>Complete email for verify identity.</span>
          </div>

          <v-form ref="emailForm" @submit.prevent="submitHandler">
            <v-container>
              <v-row>
                <v-col cols="12" md="4">
                  <div class="d-flex justify-center align-center">
                    <v-text-field
                        v-model="email"
                        label="Email address"
                        :rules="[rules.required, rules.email]"
                        :error-messages="errorMessages"
                    ></v-text-field>
                    <v-btn icon @click.prevent="submitHandler()">
                      <v-icon>
                        mdi-email-send-outline
                      </v-icon>
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </div>
    <error-dialog ref="errorDialog"></error-dialog>
    <v-dialog width="400" v-model="isShowDialogSuccess">
      <v-card light min-height="150px">
        <v-card-title style="background-color: teal; color: white">
          <template v-if="currentLanguage ==='TH'">
            สำเร็จ
          </template>
          <template v-else>
            Success.
          </template>
          <v-spacer></v-spacer>
          <v-btn icon @click.prevent="isShowDialogSuccess = false" color="white">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="my-8 d-flex justify-center">
          <template v-if="currentLanguage ==='TH'">
            ส่งเมล์ยืนยันการขอตั้งรหัสผ่านใหม่เรียบร้อย
          </template>
          <template v-else>
            Send email to confirm successfully.(RefKey:{{ refKey }})
          </template>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click.prevent="onClickOk()" dark color="teal">
            <template v-if="currentLanguage === 'TH'">
              รับทราบ
            </template>
            <template v-else>
              I know.
            </template>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>

import {mapState} from "vuex";
import ErrorDialog from "~/components/ErrorDialog";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage
    })
  },
  components: {
    ErrorDialog,
  },
  data: () => ({
    email: null,
    errorMessages: null,
    rules: {
      required: value => !!value || 'Required.',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
    isShowDialogSuccess: false,
    refKey: null,
  }),
  methods: {
    submitHandler() {
      if (this.$refs.emailForm.validate()) {
        // call api register
        this.$axios.post(`/Authen/ForgotPassword`, {email: this.email})
            .then((data) => {
              if (data.status === 200) {
                this.isShowDialogSuccess = true
                this.refKey = data.data?.RefKey
              }
            }).catch((error) => {
          this.$refs.errorDialog.showDialog(error.response.data)
        })
      }
    },
    onClickOk() {
      this.isShowDialogSuccess = false
      this.$router.push('/');
    },
  },
}
</script>
<style lang="scss" scoped>
.body-header-forget-password {
  font-size: large;
}
</style>
