<template>
  <v-container>
    <div class="d-flex justify-center align-center">
      <v-card light width="100%">
        <v-card-title>
          <v-icon size="30" class="mr-2">
            mdi-chart-line
          </v-icon>
          <h2 v-if="currentLanguage === 'TH'">พยากรณ์</h2>
          <h2 v-else>Forecast</h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="mb-4">
          <template v-if="isLoading">
            <div class="d-flex justify-center">
              <v-progress-circular
                  :size="50"
                  color="teal"
                  indeterminate
              ></v-progress-circular>
            </div>
          </template>
          <template v-else>
            <div v-for="(forecast, index) in forecasts" :key="index" class="my-4">
              <v-row>
                <v-col class="d-flex justify-center align-center" cols="12" md="2">
                  <div class="d-flex flex-column">
                    <div class="d-flex justify-center">
                      <IconCrypto style="width: 50px; height: 50px" :coinname="forecast.CoinSymbol" color="color"
                                  format="svg"/>
                    </div>
                    <span class="d-flex justify-center">{{ forecast.CoinSymbol }}</span>
                    <span class="d-flex justify-center">  ({{ forecast.CoinAvgPrice }}
                      {{ forecast.CoinUnitPrice }})</span>
                  </div>
                </v-col>
                <v-col class="d-flex flex-row justify-start" cols="12" md="10"
                       style="overflow-y: auto;">
                  <div v-for="(item, index) in forecast.ForecastItems" :key="index" class="mr-4">
                    <v-card height="110" width="145">
                      <v-card-subtitle class="text-center" style="font-weight: bold">
                        {{ item.ForcastDate }}
                      </v-card-subtitle>
                      <v-divider></v-divider>
                      <v-card-text class="text-center align-center"
                                   :class="calculateColor(item.SuggestStatus)">
                        {{ calculateText(item.SuggestText, item.SuggestStatus) }}
                      </v-card-text>
                    </v-card>
                  </div>
                  <div v-for="i in insertDummyForecastItems(forecast.ForecastItems)" class="mr-4">
                    <v-card class="pa-1" height="110"
                            width="145">
                      <v-skeleton-loader
                          class="pa-1"
                          height="105"
                          width="140"
                          type="list-item-three-line"
                      ></v-skeleton-loader>
                    </v-card>
                  </div>
                </v-col>
              </v-row>
            </div>
          </template>

        </v-card-text>
      </v-card>
    </div>
    <error-dialog ref="errorDialog"></error-dialog>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import IconCrypto from "vue-cryptocurrency-icons";
import ErrorDialog from "~/components/ErrorDialog";

export default {
  components: {
    ErrorDialog
  },
  middleware: 'auth',
  data: () => ({
    forecasts: null,
    isLoading: true,
    fixAllItemNumber: 9,
  }),
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    })
  },
  mounted() {
    this.getForecast()
  },
  methods: {
    getForecast() {
      this.isLoading = true
      this.$axios.post('/CryptoForecasting/Find').then((res) => {
        if (res.status === 200) {
          this.forecasts = res.data ?? null
        }

      }).catch((error) => {
        this.$refs.errorDialog.showDialog(error.response.data)
      }).finally(() => {
        this.isLoading = false
      })
    },
    insertDummyForecastItems(numberOfOriginalItems) {
      const numberOfItems = numberOfOriginalItems.length
      if (numberOfItems.length < 0) {
        return
      }
      return this.fixAllItemNumber - numberOfItems
    },
    calculateColor(status) {

      if (status == 92) {
        // StrongAscending
        return 'green darken-3 white--text'
      }
      if (status == 91) {
        // Ascending
        return 'green lighten-3 --text'
      }
      if (status == 90) {
        // natural
        return 'yellow accent-2 --text'
      }

      if (status == 89) {
        // Descending
        return 'red lighten-3 white--text'
      }

      if (status == 88) {
        // Strong Descending
        return 'red darken-4 white--text'
      }

    },
    calculateText(text, status) {

      if (text === "") {
        if (status == 92) {
          // StrongAscending
          return 'Strong Ascending'
        }
        if (status == 91) {
          // Ascending
          return 'Ascending'
        }
        if (status == 90) {
          // natural
          return 'Neutral'
        }

        if (status == 89) {
          // Descending
          return 'Descending'
        }

        if (status == 88) {
          // StrongDescending
          return 'Strong Decending'
        }
      }
      return text;
    }
  }
  ,
}
</script>
