<template>
  <v-dialog width="700" v-model="isShow">
    <v-form ref="attachmentForm" @submit.prevent="submitHandler">
      <v-card light min-height="500px">
        <v-card-title style="background-color: teal; color: white">
          <template v-if="currentLanguage === 'TH'">
            ข้อมูลการโอน
          </template>
          <template v-else>
            Your transfer information
          </template>
          <v-spacer></v-spacer>
          <v-btn icon @click.prevent="closeDialog()" color="white">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="mt-3">
          <v-chip
              class="ma-2"
              color="teal"
              outlined
              style="font-weight: bold"
          >
            <template v-if="currentLanguage ==='TH'">
              1. แสกน QRCode หรือ คัดลอก PaymentID เพื่อใช้เติมเงินใน binance
            </template>
            <template v-else>
              1. Scan QRCode or copy PaymentID for top up with binance.
            </template>
          </v-chip>
          <v-row class="justify-center mt-1">
            <v-col cols="12" md="6" class="justify-center text-center">
              <v-img :src="paymentQRCodeUrl"></v-img>
              <div class="mt-4">
                  <span>
                <template v-if="currentLanguage==='TH'">
                      หรือ
                </template>
                <template v-else>
                      OR
                </template>
              </span>
              </div>

              <div class="mt-4">
                <span class="mr-2">Payment ID : {{ paymentId }}</span>
                <!--                <v-btn ref="clipboard" @click.prevent="onClickCopyClipboard" color="indigo" dark>-->
                <!--                  <span class="mr-2">-->
                <!--                    <template v-if="currentLanguage==='TH'">-->
                <!--                      คัดลอก-->
                <!--                    </template>-->
                <!--                    <template v-else>-->
                <!--                      copy-->
                <!--                    </template>-->
                <!--                    Payment ID : {{ paymentId }}-->
                <!--                  </span>-->
                <!--                  <v-icon>mdi-content-copy</v-icon>-->
                <!--                </v-btn>-->
              </div>
              <v-alert class="my-2" type="success" v-model="isCopyPaymentIdSuccess">
                <template v-if="currentLanguage==='TH'">
                  คัดลอกเรียบร้อย
                </template>
                <template v-else>
                  Copied.
                </template>
              </v-alert>
            </v-col>
          </v-row>

          <v-chip
              class="ma-2 mt-10"
              color="teal"
              outlined
              style="font-weight: bold"
          >
            <template v-if="currentLanguage ==='TH'">
              2. หลังโอนเงินเรียบร้อยแล้ว ให้กรอกรายละเอียดของสลิปที่เติมพร้อมแนบรูปตามตัวอย่าง
            </template>
            <template v-else>
              2. After transfers success. Provide complete statement description and attach statement image.
            </template>
          </v-chip>
          <v-row class="mt-1">
            <v-col cols="12" md="6">
              <div class="d-flex justify-center">
              <span class="body-1">
                <template v-if="currentLanguage==='TH'">
                  ตัวอย่างสลิปใน Binance
                </template>
                <template v-else>
                  Example binance statement
                </template>
              </span>
              </div>
              <v-img src="/images/example_statement.png"></v-img>
            </v-col>
            <v-col cols="12" md="6">
              <div>
                <v-text-field
                    v-model="prefix"
                    label="Prefix Order ID"
                    counter
                    maxlength="3"
                    :rules="[rules.required]"
                    :error-messages="errorMessages"
                ></v-text-field>
              </div>
              <div>
                <v-text-field
                    v-model="suffix"
                    label="Suffix Order ID"
                    counter
                    maxlength="4"
                    :rules="[rules.required]"
                    :error-messages="errorMessages"
                ></v-text-field>
              </div>
              <div>
                <template>
                  <v-file-input
                      v-model="fileSelected"
                      :rules="[rules.required]"
                      show-size
                      accept="image/*"
                      counter
                      prepend-icon="mdi-paperclip"
                      placeholder="Select your files"
                      label="File input"
                      clearable
                  ></v-file-input>
                </template>
              </div>
              <div
                  style="background-color: #2d3748; border-radius: 15px; width: 250px; height:250px;"
                  class="d-flex justify-center align-center pa-4 mt-3">
                <v-img
                    :src="imageUrl"
                    width="250"
                    height="250"
                />
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn type="submit" dark color="teal" :loading="inProgress" :disabled="inProgress">
            <template v-if="currentLanguage === 'TH'">
              เสร็จสิ้น
            </template>
            <template v-else>
              Finished.
            </template>
          </v-btn>
        </v-card-actions>
        <!--        <div class="d-flex justify-center pa-4">-->
        <!--          <v-alert-->
        <!--              v-model="isShowAlert"-->
        <!--              border="bottom"-->
        <!--              color="pink darken-1"-->
        <!--              dark-->
        <!--              dismissible-->
        <!--          >-->
        <!--            {{ errorMessage }}-->
        <!--          </v-alert>-->
        <!--        </div>-->
      </v-card>
      <error-dialog ref="errorDialog"></error-dialog>
    </v-form>
  </v-dialog>
</template>

<script>
import {mapState} from "vuex";
import ErrorDialog from "~/components/ErrorDialog";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
  },
  components: {
    ErrorDialog,
  },
  watch: {
    fileSelected(file) {
      if (file) {
        this.createImage(file)
      } else {
        this.imageUrl = null
      }
    },
    isCopyPaymentIdSuccess() {
      if (this.isCopyPaymentIdSuccess) {
        setTimeout(() => {
          this.isCopyPaymentIdSuccess = false
        }, 2000)
      }
    },
  },
  data() {
    return {
      isShow: false,
      prefix: null,
      suffix: null,
      errorMessages: null,
      rules: {
        required: value => !!value || 'Required.',
      },
      fileSelected: null,
      imageUrl: null,
      registerId: null,
      isShowAlert: false,
      errorMessage: null,
      inProgress: false,
      paymentQRCodeUrl: null,
      paymentId: null,
      isCopyPaymentIdSuccess: false,
      apiUrl: null,
      apiFileUrl: null,
      checkType: null,
      packageObject: null,
    }
  },
  // mounted() {
  //   this.paymentQRCodeUrl = `${this.apiFileUrl}storage/PaymentQR.jpg`
  // },
  methods: {
    openDialog(checkType, registerId, apiUrl, apiFileUrl, currentSelectedPackageObject) {
      this.isShow = true
      this.checkType = checkType
      this.apiUrl = apiUrl
      this.apiFileUrl = apiFileUrl
      this.packageObject = currentSelectedPackageObject
      this.registerId = null

      if (checkType === 'register') {
        this.registerId = registerId
        this.getPaymentQRCodeForRegister()
      }

      if (checkType === 'renew') {
        this.getPaymentQRCodeForRenew()
      }


    },
    createImage(file) {
      const reader = new FileReader()

      reader.onload = (e) => {
        this.imageUrl = e.target.result
      }
      reader.readAsDataURL(file)
    },
    submitHandler() {
      if (this.$refs.attachmentForm.validate() && this.sessionToken) {
        if ((this.checkType === 'register' && this.registerId) || (this.checkType === 'renew' && this.packageObject)) {
          this.save()
        }
      }
    },
    closeDialog() {
      this.prefix = null
      this.suffix = null
      this.fileSelected = null
      this.imageUrl = null
      this.paymentQRCodeUrl = null
      this.paymentId = null
      this.isCopyPaymentIdSuccess = false
      this.isShow = false
    },
    save() {
      this.inProgress = true

      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }

      const form = new FormData()
      const url = this.checkType === 'register' ? '/Register/CryptoPaymentVerify' : '/UserProfile/RenewInternalChain'

      if (this.checkType === 'register') {
        form.append('RegisterId', `${this.registerId}`)
      } else if (this.checkType === 'renew') {
        form.append('PackagePriceId', this.packageObject.packagePriceId)
        form.append('CryptoCurrencyId', this.packageObject.cryptoCurrencyId)
        form.append('CryptoSetPrice', this.packageObject.cryptoSetPrice)
        form.append('CryptoUnitCode', this.packageObject.cryptoUnitPrice)
      }

      form.append('PrefixTransactionId', this.prefix)
      form.append('SuffixTransactionId', this.suffix)
      form.append('Attachments', this.fileSelected)


      this.$axios.post(url, form, {headers: header})
          .then((data) => {
            let returnObject = {}
            if (this.checkType === 'register') {
              returnObject = {status: 'success', referenceId: data.data.ReferenceId, type: 'register'}
            } else if (this.checkType === 'renew') {
              returnObject = {status: 'success', type: 'renew', responseSuccess: data.data}
            }

            this.$emit('emitAfterCryptoPaymentVerifyPass', returnObject)
          }).catch((error) => {
        this.isShowAlert = true
        this.$refs.errorDialog.showDialog(error.response.data)
        // if (this.currentLanguage === 'TH') {
        //   this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
        // } else {
        //   this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
        // }
      }).finally(() => {
        this.inProgress = false
      })
    },
    getPaymentQRCodeForRegister() {
      const requestBody = {
        "RegisterId": this.registerId
      }
      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }
      this.$axios.post('/Register/GetPaymentMethod', requestBody, {headers: header})
          .then(({data}) => {
            this.paymentQRCodeUrl = `${this.apiFileUrl}${data.QRPaymentURL}`
            this.paymentId = data.PaymentID
          })
          .catch((error) => {
            this.isShowAlert = true
            this.$refs.errorDialog.showDialog(error.response.data)
            // if (this.currentLanguage === 'TH') {
            //   this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
            // } else {
            //   this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
            // }
          })
    },
    getPaymentQRCodeForRenew() {
      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }
      this.$axios.post('/UserProfile/GetPaymentMethod', null, {headers: header})
          .then(({data}) => {
            this.paymentQRCodeUrl = `${this.apiFileUrl}${data.QRPaymentURL}`
            this.paymentId = data.PaymentID
          })
          .catch((error) => {
            this.isShowAlert = true
            this.$refs.errorDialog.showDialog(error.response.data)
            // if (this.currentLanguage === 'TH') {
            //   this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
            // } else {
            //   this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
            // }
          })
    },
    async onClickCopyClipboard() {
      // try {
      //   const textToCopy = this.$refs.clipboard.$el.querySelector('btn')
      //   textToCopy.select()
      //   document.execCommand('copy')
      // } catch (e) {
      //   console.error('Failed to copy: ', e);
      // }
      try {
        await navigator.clipboard.writeText(paymentId)
        this.isCopyPaymentIdSuccess = true
      } catch (err) {
        console.error('Failed to copy: ', err);
      }


    },
  },
}
</script>
