<template>
  <v-dialog width="700" v-model="isShow" persistent>
    <v-form ref="attachmentOtherForm" @submit.prevent="submitHandler">
      <v-card light min-height="500px">
        <v-card-title style="background-color: teal; color: white">
          <template v-if="currentLanguage === 'TH'">
            ข้อมูลการโอน
          </template>
          <template v-else>
            Your transfer information
          </template>
          <v-spacer></v-spacer>
          <v-btn icon @click.prevent="closeDialog()" color="white">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="mt-3">
          <v-chip
              class="ma-2"
              color="teal"
              outlined
              style="font-weight: bold"
          >
            <template v-if="currentLanguage ==='TH'">
              1. แสกน QRCode หรือ คัดลอก Address/Tag เพื่อใช้เติมเงิน
            </template>
            <template v-else>
              1. Scan QRCode or copy Address/Tag for top up.
            </template>
          </v-chip>
          <v-row class="justify-center mt-1">
            <v-col cols="12" md="6">
              <v-card class="Address">
                <v-card-title>
                  Address
                </v-card-title>
                <v-card-text v-if="depositAddress && depositAddress.Address">
                  <div class="d-flex justify-center">
                    <q-r-code v-if="depositAddress.Address" :url="depositAddress.Address"></q-r-code>
                  </div>
                  <v-divider class="my-3"></v-divider>
                  <span class="mt-3">
                    {{ depositAddress.Address }}
                  </span>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col cols="12" md="6" v-if="depositAddress && depositAddress.Tag">
              <v-card class="Tag">
                <v-card-title>
                  Tag
                </v-card-title>
                <v-card-text>
                  <div class="d-flex justify-center">
                    <q-r-code v-if="depositAddress.Tag" :url="depositAddress.Tag"></q-r-code>
                  </div>
                  <v-divider class="my-3"></v-divider>
                  <span class="mt-3">
                    {{ depositAddress.Tag }}
                  </span>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-chip
              class="ma-2 mt-10"
              color="teal"
              outlined
              style="font-weight: bold"
          >
            <template v-if="currentLanguage ==='TH'">
              2. หลังโอนเงินเรียบร้อยแล้ว ให้กรอกรายละเอียดของสลิปที่เติมพร้อมแนบรูปตามตัวอย่าง
            </template>
            <template v-else>
              2. After transfers success. Provide complete statement description and attach statement image.
            </template>
          </v-chip>
          <v-row class="mt-1">
            <v-col cols="12" md="6">
              <div class="d-flex justify-center">
              <span class="body-1">
                <template v-if="currentLanguage==='TH'">
                  ตัวอย่างสลิปใน Binance
                </template>
                <template v-else>
                  Example binance statement
                </template>
              </span>
              </div>
              <v-img src="/images/example_statement.png"></v-img>
            </v-col>
            <v-col cols="12" md="6">
              <div>
                <v-text-field
                    v-model="txId"
                    label="TxId"
                    counter
                    :rules="[rules.required]"
                    :error-messages="errorMessages"
                ></v-text-field>
              </div>
              <div>
                <template>
                  <v-file-input
                      v-model="fileSelected"
                      :rules="[rules.required]"
                      show-size
                      accept="image/*"
                      counter
                      prepend-icon="mdi-paperclip"
                      placeholder="Select your files"
                      label="File input"
                      clearable
                  ></v-file-input>
                </template>
              </div>
              <div
                  style="background-color: #2d3748; border-radius: 15px; width: 250px; height:250px;"
                  class="d-flex justify-center align-center pa-4 mt-3">
                <v-img
                    :src="imageUrl"
                    width="250"
                    height="250"
                />
              </div>
            </v-col>
          </v-row>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn type="submit" dark color="teal" :loading="inProgress" :disabled="inProgress">
            <template v-if="currentLanguage === 'TH'">
              เสร็จสิ้น
            </template>
            <template v-else>
              Finished.
            </template>
          </v-btn>
        </v-card-actions>
      </v-card>
      <error-dialog ref="errorDialog"></error-dialog>
    </v-form>
  </v-dialog>
</template>

<script>

import {mapState} from "vuex";
import QRCode from '@/components/QRCode'
import ErrorDialog from "~/components/ErrorDialog";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
  },
  components: {
    QRCode,
    ErrorDialog,
  },
  watch: {
    fileSelected(file) {
      if (file) {
        this.createImage(file)
      } else {
        this.imageUrl = null
      }
    },
  },
  data() {
    return {
      isShow: false,
      isShowAlert: false,
      errorMessage: null,
      depositAddress: null,
      txId: null,
      errorMessages: null,
      rules: {
        required: value => !!value || 'Required.',
      },
      imageUrl: null,
      fileSelected: null,
      inProgress: false,
      checkType: null,
      registerId: null,
      packageObject: null,
    }
  },
  methods: {
    openDialog(checkType, selectedNetwork, registerId, currentSelectedPackageObject) {
      this.isShow = true
      this.isShowAlert = false
      this.errorMessage = null
      this.depositAddress = null

      this.checkType = checkType
      this.registerId = registerId
      this.packageObject = currentSelectedPackageObject

      if (!selectedNetwork || (this.checkType === 'register' && !registerId) || (this.checkType === 'renew' && !currentSelectedPackageObject)) {
        if (this.currentLanguage === 'TH') {
          this.errorMessage = 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
        } else {
          this.errorMessage = 'Something went wrong, please register again.'
        }
        this.isShowAlert = true
        setTimeout(() => {
          this.closeDialog()
        }, 2000)
      }
      this.getDepositAddress(selectedNetwork)
    },
    closeDialog() {
      this.isShow = false
      this.fileSelected = null
    },
    getDepositAddress(selectedNetwork) {
      let data = {}
      if (this.checkType === 'register') {
        data = {
          "data": {
            "RegisterId": this.registerId,
            "CoinSymbol": selectedNetwork.Coin,
            "Network": selectedNetwork.Network
          }
        }
      }
      if (this.checkType === 'renew') {
        data = {
          "data": {
            "CoinSymbol": selectedNetwork.Coin,
            "Network": selectedNetwork.Network
          }
        }
      }

      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }

      const url = this.checkType === 'register' ? '/Register/GetDepositAddress' : 'UserProfile/GetDepositAddress'
      this.$axios.post(url, data, {
        headers: header
      }).then(({data}) => {
        this.depositAddress = data
      }).catch(error => {
        if (this.currentLanguage === 'TH') {
          this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
        } else {
          this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
        }
        this.isShowAlert = true
      })
    },
    createImage(file) {
      const reader = new FileReader()

      reader.onload = (e) => {
        this.imageUrl = e.target.result
      }
      reader.readAsDataURL(file)
    },
    submitHandler() {
      if (this.$refs.attachmentOtherForm.validate() && this.sessionToken) {
        if ((this.checkType === 'register' && this.registerId) || (this.checkType === 'renew' && this.packageObject)) {
          this.save()
        }
      }
    },
    save() {
      this.inProgress = true
      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }
      const form = new FormData()
      const url = this.checkType === 'register' ? '/Register/CryptoDepositVerify' : '/UserProfile/RenewExternalChain'
      if (this.checkType === 'register') {
        form.append('RegisterId', `${this.registerId}`)
      }
      if (this.checkType === 'renew') {
        form.append('PackagePriceId', this.packageObject.packagePriceId)
        form.append('CryptoCurrencyId', this.packageObject.cryptoCurrencyId)
        form.append('CryptoSetPrice', this.packageObject.cryptoSetPrice)
        form.append('CryptoUnitCode', this.packageObject.cryptoUnitPrice)
      }
      form.append('Address', `${this.depositAddress.Address}`)
      form.append('TxId', this.txId)
      form.append('Attachments', this.fileSelected)
      this.$axios.post(url, form, {headers: header})
          .then((data) => {
            let returnObject = {}
            if (this.checkType === 'register') {
              returnObject = {status: 'success', referenceId: data.data.ReferenceId, type: 'register'}
            } else if (this.checkType === 'renew') {
              returnObject = {status: 'success', type: 'renew', responseSuccess: data.data}
            }
            this.$emit('emitAfterCryptoDepositVerifyPass', returnObject)
          }).catch((error) => {
        this.isShowAlert = true
        this.$refs.errorDialog.showDialog(error.response.data)
      }).finally(() => {
        this.inProgress = false
      })
    }
  },
}

</script>
