<template>
  <v-dialog width="300px" v-model="isShow">
    <v-card light>
     <div class="d-flex justify-space-between align-center pa-3">
       <span class="ml-2">Change Language</span>
       <v-spacer/>
       <v-btn icon @click.prevent="onClickCloseDialog()">
         <v-icon>mdi-close</v-icon>
       </v-btn>
     </div>
      <v-divider></v-divider>
      <v-card-actions class="d-block">
        <div class="d-flex justify-center">
          <v-btn text @click.prevent="onClickChangeToLanguage('TH')">
            Thai
          </v-btn>
          <v-btn text @click.prevent="onClickChangeToLanguage('EN')">
            English
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

export default{
  data(){
    return {
      isShow:false,
    }
  },
  methods:{
    openDialog(){
      this.isShow = true
    },
    onClickCloseDialog(){
      this.isShow = false
    },
    onClickChangeToLanguage(val){
      this.$store.dispatch('language/setLineCustomerSelectedSubject', val)
      this.onClickCloseDialog()
    }
  },
}
</script>
