<template>
  <v-dialog width="700" v-model="isShow">
    <v-card light min-height="300px" class="align-center">
      <v-card-title style="background-color: teal; color: white">
        <template v-if="currentLanguage === 'TH'">
          เลือกเว็ปเทรดที่ใช้โอน
        </template>
        <template v-else>
          Choose web trade
        </template>
        <v-spacer></v-spacer>
        <v-btn icon @click.prevent="closeDialog()" color="white">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="justify-center mt-10">
        <!--plan A-->
        <!--        <v-row class="justify-center">-->
        <!--          <v-col cols="6" md="3">-->
        <!--            <v-card @click.prevent="onClickChooseWebTrade('bitkub')">-->
        <!--              <v-card-text>-->
        <!--                <div class="exchange-logo d-flex align-center pa-1" style="height: 115px">-->
        <!--                  <v-img src="/logos/bitkub-crypto-logo.jpeg"></v-img>-->
        <!--                </div>-->
        <!--              </v-card-text>-->
        <!--              <v-divider></v-divider>-->
        <!--              <v-card-actions class="justify-center">-->
        <!--                <template v-if="currentLanguage === 'TH'">-->
        <!--                  มีค่าธรรมเนียม-->
        <!--                </template>-->
        <!--                <template v-else>-->
        <!--                  No Fee-->
        <!--                </template>-->
        <!--              </v-card-actions>-->
        <!--            </v-card>-->
        <!--          </v-col>-->
        <!--          <v-col cols="6" md="3">-->
        <!--            <v-card @click.prevent="onClickChooseWebTrade('binance')">-->
        <!--              <v-card-text style="background-color: black">-->
        <!--                <div class="exchange-logo pa-1">-->
        <!--                  <v-img src="/logos/binance-crypto-logo.jpeg"></v-img>-->
        <!--                </div>-->
        <!--              </v-card-text>-->
        <!--              <v-divider></v-divider>-->
        <!--              <v-card-actions class="justify-center">-->
        <!--                <template v-if="currentLanguage === 'TH'">-->
        <!--                  ฟรีค่าธรรมเนียม-->
        <!--                </template>-->
        <!--                <template v-else>-->
        <!--                  No Fee-->
        <!--                </template>-->
        <!--              </v-card-actions>-->
        <!--            </v-card>-->
        <!--          </v-col>-->
        <!--        </v-row>-->
        <!--plan B-->
        <div>

        </div>
        <v-row class="justify-center">

          <v-col cols="6" md="3">
            <v-card color="#02d767" @click.prevent="onClickChooseWebTrade('other')">
              <div class="d-flex justify-center align-center other-logo">
                <template v-if="currentLanguage === 'TH'">
                  Exchange อื่นๆ
                </template>
                <template v-else>
                  Other Exchange
                </template>
              </div>
              <v-card-actions class="justify-center" style="background-color: white">
                <template v-if="currentLanguage === 'TH'">
                  <b><u>เสีย</u></b>ค่าธรรมเนียม
                </template>
                <template v-else>
                  Fee
                </template>
              </v-card-actions>
            </v-card>
          </v-col>

          <v-col cols="6" md="3">
            <v-card color="black" @click.prevent="onClickChooseWebTrade('binance')">
              <div class="d-flex justify-center align-center binance-logo">
                Binance
              </div>
              <v-card-actions class="justify-center" style="background-color: white">
                <template v-if="currentLanguage === 'TH'">
                  <b><u>ฟรี</u></b>ค่าธรรมเนียม
                </template>
                <template v-else>
                  No Fee
                </template>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapState} from "vuex";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
  },
  data() {
    return {
      isShow: false,
    }
  },
  methods: {
    openDialog() {
      this.isShow = true
    },
    closeDialog() {
      this.isShow = false
    },
    onClickChooseWebTrade(webTrade) {
      if (!webTrade) {
        return
      }
      this.$emit('emitChooseWebTradeDialog', webTrade)
    },
  },
}
</script>

<style lang="scss" scoped>
.other-logo {
  font-size: large;
  color: white;
  width: auto;
  height: 100px;
}

.binance-logo {
  font-size: large;
  color: #f3ba2f;
  width: auto;
  height: 100px;
}

.exchange-logo {
  max-width: 200px;
  max-height: 200px;
  //border: black;
  //border: solid black;
  //border-radius: 25px;
  //background-color: black;
}
</style>
