<template>
  <v-dialog width="900" v-model="isShow">
    <v-card light min-height="300px" class="align-center">
      <v-card-title style="background-color: teal; color: white">
        <template v-if="currentLanguage === 'TH'">
          เลือกเน็ตเวิร์คที่ใช้โอน
        </template>
        <template v-else>
          Choose transfer network
        </template>
        <v-spacer></v-spacer>
        <v-btn icon @click.prevent="closeDialog()" color="white">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text class="justify-center mt-10">
        <v-row class="justify-center">
          <v-col cols="6" md="4" v-for="(network, index) in networkConfigData" :key="index">
            <v-card @click.prevent="onClickNetwork(network)">
              <v-card-text class="flex-column justify-center">
                <div>{{ network.Name }}</div>
                <div>
                  Network : {{ network.Network }}
                </div>
                <div>
                  Network Confirmation {{ network.MinConfirm }} block
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card-text>

      <v-alert
          v-model="isShowAlert"
          border="bottom"
          color="pink darken-1"
          dark
          dismissible
      >
        <div class="d-fle"></div>
        {{ errorMessage }}
      </v-alert>
    </v-card>
  </v-dialog>
</template>

<script>

import {mapState} from "vuex";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
  },
  data() {
    return {
      isShow: false,
      isShowAlert: false,
      errorMessage: null,
      networkConfigData: null,
    }
  },
  methods: {
    clear() {
      this.isShowAlert = false
      this.networkConfigData = null
    },
    openDialog(selectedCoinSymbol) {
      if (!selectedCoinSymbol) {
        return
      }
      this.clear()
      this.isShow = true
      this.getAllConfigByCoin(selectedCoinSymbol)
    },
    closeDialog() {
      this.isShow = false
    },
    getAllConfigByCoin(selectedCoinSymbol) {
      const data = {
        "CoinSymbol": selectedCoinSymbol
      }
      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }
      this.$axios.post('/Register/GetAllConfig', data, {
        headers: header
      }).then(({data}) => {
        this.networkConfigData = data
      }).catch(error => {
        if (this.currentLanguage === 'TH') {
          this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
        } else {
          this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
        }
        this.isShowAlert = true
      })
    },
    onClickNetwork(selectedNetwork) {
      if (!selectedNetwork) {
        return
      }
      this.$emit('emitSelectedNetwork', selectedNetwork)
    }
  },
}
</script>
