<template>
  <v-dialog width="300px" v-model="isShow">
    <v-card light>
      <div class="d-flex justify-space-between align-center pa-3">
        <template v-if="isLogoutSuccess">
          <span class="ml-2" v-if="currentLanguage ==='TH'">ออกจากระบบสำเร็จ</span>
          <span class="ml-2" v-else>Logout Success</span>
        </template>
        <template v-else>
          <span class="ml-2" v-if="currentLanguage ==='TH'">ยืนยันออกจากระบบ</span>
          <span class="ml-2" v-else>Confirm Logout</span>
        </template>
        <v-spacer/>
        <v-btn icon @click.prevent="onClickCloseDialog()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider></v-divider>
      <v-card-actions class="d-block">
        <div class="d-flex justify-center">
          <v-btn text @click.prevent="onClickOk">
            <template v-if="currentLanguage==='TH'">
              ยืนยัน
            </template>
            <template v-else>
              Confirm
            </template>
          </v-btn>
          <v-btn text @click.prevent="onClickCloseDialog">
            <template v-if="currentLanguage==='TH'">
              ยังก่อน
            </template>
            <template v-else>
              Cancel
            </template>
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import {mapState} from "vuex";

export default {
  data() {
    return {
      isShow: false,
      isLogoutSuccess: false,
    }
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
    }),
  },
  methods: {
    openDialog() {
      this.isShow = true
    },
    onClickCloseDialog() {
      this.isShow = false
    },
    onClickOk() {
      setTimeout(() => {
        this.$emit('emitLogout', true)
      }, 500)

    },
    forceStateLogout(val) {
      this.isLogoutSuccess = val
    }
  },
}
</script>
