<template>
  <v-dialog width="300" v-model="isShow">
    <v-card light>
      <v-card-title style="background-color: #F06292; color: white">
        <template v-if="currentLanguage ==='TH'">
          แจ้งเตือน
        </template>
        <template v-else>
          Error
        </template>
        <v-spacer></v-spacer>
        <v-btn icon @click.prevent="isShow = false" dark>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="mt-3 text-center">
        <template v-if="currentLanguage === 'TH'">
          {{ errorMessage.th }}
        </template>
        <template v-else>
          {{ errorMessage.en }}
        </template>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>

import {mapState} from "vuex";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
    }),
  },
  data: () => ({
    isShow: false,
    errorMessage: {
      th: '',
      en: ''
    },
  }),
  methods: {
    showDialog(option) {
      this.isShow = true
      this.errorMessage = {
        th: option.ErrorMessageTH.length > 0 ? option.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด',
        en: option.ErrorMessageEN.length > 0 ? option.ErrorMessageEN[0] : 'Something went wrong !!.',
      }
    },
  },
}
</script>
