<template>
  <v-dialog width="500" v-model="isShow" persistent>
    <v-card light>
      <v-card-title style="background-color: teal; color: white">
        <template v-if="currentLanguage ==='TH'">
          ยืนยัน OTP
        </template>
        <template v-else>
          Insert OTP
        </template>
        <v-spacer></v-spacer>
        <v-btn icon @click.prevent="closeDialog()" dark>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="mt-3">
        <template v-if="isLoading">
          <div class="d-flex justify-center">
            <v-progress-circular
                :size="50"
                color="teal"
                indeterminate
            ></v-progress-circular>
          </div>
        </template>
        <template v-else>
          <template v-if="refKey">
            <v-row class="justify-canter">
              <v-col cols="12" class="text-center">
                <span>
                  <template v-if="currentLanguage === 'TH'">
                    กรุณาตรวจสอบอีเมล์ : {{ email }} (RefKey:{{ refKey }}) และกรอก OTP ที่ได้รับภายใน 5 นาที
                  </template>
                  <template v-else>
                    The system is sending OTP to E-mail : {{ email }} (RefKey:{{ refKey }}) Please check your e-mail and enter OTP received within 5
                    minutes.
                  </template>
                </span>
              </v-col>
              <v-col cols="12" class="d-flex justify-center">
                <div class="d-flex justify-center align-center">
                  <otp-input
                      ref="otpInput"
                      input-classes="otp-input"
                      separator="-"
                      :num-inputs="4"
                      :should-auto-focus="true"
                      :is-input-num="true"
                      @on-change="handleOnChange"
                      @on-complete="handleOnComplete"
                  />
                  <v-btn height="100%" @click.prevent="handleClearInput()" color="orange" style="color: white">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </div>
              </v-col>
              <v-col cols="12" class="text-center">
                <v-btn @click.prevent="closeDialog()" color="teal" style="color: white">
                  <template v-if="currentLanguage === 'TH'">
                    ตกลง
                  </template>
                  <template v-else>
                    OK
                  </template>
                </v-btn>
              </v-col>
            </v-row>
          </template>
          <template v-else>
            <v-row class="justify-canter">
              <v-col cols="12" class="text-center">
                 <span>
                  <template v-if="currentLanguage === 'TH'">
                    {{ errorMessageTH }}
                  </template>
                  <template v-else>
                    {{ errorMessageEN }}
                  </template>
                </span>
              </v-col>
              <v-col cols="12" class="text-center">
                <v-btn @click.prevent="closeDialog()" color="teal" style="color: white">
                  <template v-if="currentLanguage === 'TH'">
                    ปิด
                  </template>
                  <template v-else>
                    close
                  </template>
                </v-btn>
              </v-col>
            </v-row>
          </template>
        </template>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>

import {mapState} from "vuex";
import OtpInput from "@bachdgvn/vue-otp-input";

export default {
  components: {
    OtpInput,
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
    }),
    isActive() {
      return this.otp.length === this.length
    },
  },
  data: () => ({
    isShow: false,
    email: null,
    otp: '',
    length: 4,
    refKey: null,
    errorMessageTH: null,
    errorMessageEN: null,
    isLoading: true,
  }),
  methods: {
    openDialog(email) {
      this.isShow = true
      this.email = email
      this.refKey = null
      this.errorMessageTH = null
      this.errorMessageEN = null
      this.isLoading = true
      this.requestOTP()
    },
    requestOTP() {
      this.isLoading = true
      this.$axios.post('/UserProfile/RequestOTP')
          .then(({data}) => {
            this.refKey = data.RefKey
          })
          .catch((error) => {
            if (error.response?.data?.ErrorMessageTH.length > 0) {
              this.errorMessageTH = error.response.data.ErrorMessageTH[0]
            }
            if (error.response?.data?.ErrorMessageEN.length > 0) {
              this.errorMessageEN = error.response.data.ErrorMessageEN[0]
            }
          }).finally(() => {
        this.isLoading = false
      })
    },
    closeDialog() {
      let returnObject = {
        isSuccess: false,
        otp: null
      }
      if (!this.refKey) {
        // cannot send email
        this.$emit('emitCloseDialog', returnObject)
      } else {
        returnObject.isSuccess = true
        returnObject.otp = this.otp
        this.$emit('emitCloseDialog', returnObject)
      }
      this.isShow = false
    },
    handleOnComplete(value) {
      this.otp = value
    },
    handleOnChange(value) {
      this.otp = null
    },
    handleClearInput() {
      this.$refs.otpInput.clearInput();
      this.otp = null
    },
  },
}
</script>

<style lang="scss">
.otp-input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;

  &.error {
    border: 1px solid red !important;
  }
}

.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
