<template>
  <div>
    <qr-code :text="$props.url"></qr-code>
  </div>

</template>

<script>
import QrCode from 'vue-qrcode-component'

export default {
  props: {
    url: {
      type: String,
      required: false,
      default: 'https://www.google.com'
    }
  },
  components: {
    QrCode,
  },
  data() {
    return {}
  }
}
</script>
