<template>
  <v-dialog width="500px" v-model="isShow" persistent>
    <registerPage @close="onClickCloseDialog()"/>
  </v-dialog>
</template>

<script>

import { mapState } from 'vuex'
import registerPage from '~/pages/register/index'
export default{
  components:{
    registerPage,
  },

  data:()=>({
    isShow:false,
  }),
  methods:{
    openDialog(){
      this.isShow = true
    },
    onClickCloseDialog(){
      this.isShow = false
    }
  },
}
</script>
