<template>
  <div v-if="isShow">
    <template v-if="isLoading">
      <div class="d-flex justify-center">
        <v-progress-circular
            :size="50"
            color="teal"
            indeterminate
        ></v-progress-circular>
      </div>
    </template>
    <template v-else>
      <v-row>
        <v-col v-for="item in packagePricingData" cols="12" md="3" sm="6">
          <v-card>
            <v-card-text>
              <v-card-title class="d-flex justify-center">
                <div class="d-flex flex-column justify-center">
                  <IconCrypto style="width: 50px; height: 50px" :coinname="item.CoinSymbol" color="color" format="svg"/>
                  <div class="d-flex justify-center"> {{ item.CoinSymbol }}</div>
                </div>
              </v-card-title>
              <v-card-text>
                <div class="d-flex justify-center">
                  ({{ item.CoinAvgPrice }} {{ item.CoinUnitPrice }})
                </div>
              </v-card-text>
              <v-card v-for="price in item.Pricing" :key="price.Id" class="mt-2"
                      @click.prevent="onClickPackage(item,price)"
                      :style="checkIsCurrentSelected(item,price) ? 'border: 2px solid teal;' :null">
                <v-card-text>
                  <span v-if="currentLanguage ==='TH'"> {{ price.NameTH }}</span>
                  <span v-else> {{ price.NameEN }}</span>
                  <v-divider></v-divider>
                  <div class="d-flex justify-center mt-2">
                    <v-tooltip bottom>
                      <template v-slot:activator="{ on, attrs }">
                        <span v-bind="attrs" v-on="on">
                          {{ price.CoinSetPrice | formatLetter }}
                          {{ price.CoinUnitCode }}
                        </span>
                      </template>
                      <span>{{ price.CoinSetPrice }}  {{ price.CoinUnitCode }}</span>
                    </v-tooltip>
                  </div>
                </v-card-text>
              </v-card>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </template>
    <error-dialog ref="errorDialog"></error-dialog>
  </div>
</template>

<script>
import {mapState} from "vuex"
import IconCrypto from "vue-cryptocurrency-icons";
import ErrorDialog from "~/components/ErrorDialog";

export default {
  filters: {
    formatLetter(price) {
      const priceString = price.toString()
      return priceString.substring(0, 15)
    }
  },
  components: {
    ErrorDialog
  },
  props: {
    accessId: {
      type: String,
      required: true,
    },
    checkType: {
      type: String,
      required: false,
    }
  },
  data: () => ({
    isShow: true,
    headers: [
      {
        text: 'Name',
        align: 'start',
        sortable: false,
        value: 'name',
      },
      // { text: 'Seq No.', value: 'SeqNo' },
      {text: '1 Day', value: 'periods'},
      {text: '1 Week', value: 'periods'},
      {text: '1 Month', value: 'periods'},
      {text: '1 Year', value: 'periods'},
      {text: 'Actions', value: 'actions', sortable: false},
    ],

    defaultItem: {
      name: '',
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
    packagePricingData: [],
    currentSelected: null,
    isLoading: false,
  }),
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
    type() {
      return this.$props.checkType ? 'renew' : 'register'
    }
  },

  created() {
    this.initialize()
  },

  methods: {
    initialize() {
      this.fetch()
    },
    fetch() {
      this.getAllPackage(this.sessionToken)
    },
    getAllPackage(token) {
      const requestBody = {
        "criteria": {
          "pageIndex": 0,
          "pageSize": 5
        }
      }
      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${token}`
      }
      this.isLoading = true
      const url = this.type === 'register' ? '/PackagePrice/GetAll' : '/PackagePrice/GetForRenew'
      this.$axios.post(url, requestBody, {
        headers: header
      }).then(({data}) => {
        this.isLoading = false
        this.packagePricingData = data
      }).catch((error) => {
        this.$refs.errorDialog.showDialog(error.response.data)
      }).finally(() => {
        this.isLoading = false
      })
    },
    onClickPackage(_package, _packageItem) {
      this.currentSelected = {packagePriceId: _packageItem.Id, cryptoCurrencyId: _package.CoinNameId}
      this.$emit('emitCurrentSelectedPackage', {
        packagePriceId: _packageItem.Id,
        cryptoCurrencyId: _package.CoinNameId,
        cryptoSetPrice: _packageItem.CoinSetPrice,
        cryptoUnitPrice: _packageItem.CoinUnitCode
      })
    },
    checkIsCurrentSelected(_package, _packageItem) {
      if (!this.currentSelected) {
        return
      }
      return this.currentSelected.packagePriceId === _packageItem.Id && this.currentSelected.cryptoCurrencyId === _package.CoinNameId
    },
  },
}
</script>
<style lang="scss" scoped>

.active {
  background-color: teal;
}
</style>
