<template>
  <v-dialog width="400" v-model="isShow">
    <v-card light min-height="150px">
      <v-card-title style="background-color: teal; color: white">
        <template v-if="currentLanguage ==='TH'">
          สำเร็จ
        </template>
        <template v-else>
          Success.
        </template>
        <v-spacer></v-spacer>
        <v-btn icon @click.prevent="isShow = false" color="white">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="mt-3 text-center mt-5">
        <template v-if="currentLanguage === 'TH'">
          {{ message.th }}
        </template>
        <template v-else>
          {{ message.en }}
        </template>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click.prevent="onClickOk()" dark color="teal">
          <template v-if="currentLanguage === 'TH'">
            รับทราบ
          </template>
          <template v-else>
            I know.
          </template>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import {mapState} from "vuex";

export default {
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
    }),
  },
  data: () => ({
    isShow: false,
    message: {
      th: '',
      en: ''
    },
  }),
  methods: {
    showDialog(option) {
      this.isShow = true
      this.message = {
        th: option.messageTH && option.messageTH.length > 0 ? option.messageTH[0] : 'ดำเนินการเสร็จสิ้น',
        en: option.messageEN && option.messageEN.length > 0 ? option.messageEN[0] : 'Successfully',
      }
    },
    onClickOk() {
      this.isShow = false
      this.$emit('emitCloseSuccessDialog',)
    }
  },
}
</script>
