<template>
  <div class="f-flex align-center">
    <v-switch
        v-model="switch1"
        inset
        :label="currentLanguage"
        color="secondary"
    >
    </v-switch>
  </div>

</template>

<script>
export default {
  computed: {

    currentLanguage() {
      return this.switch1 ? 'TH' : 'EN'
    }
  },
  data() {
    return {
      switch1: true,
    }
  },
  watch: {
    switch1(val) {
      const language = val ? 'TH' : 'EN'
      this.$store.dispatch('language/setLineCustomerSelectedSubject', language)
    }
  },
}

</script>

