<template>
  <div class="pa-4">
    <template class="banner">
      <v-card dark class="my-4">
        <v-card-text>
          <v-carousel
              cycle
              height="400"
              hide-delimiter-background
              show-arrows-on-hover
          >
            <v-carousel-item
                v-for="(banner,i) in banners"
                :key="i"
                :src="banner.src"
            ></v-carousel-item>
          </v-carousel>
        </v-card-text>
      </v-card>

    </template>
    <template class="content">
      <v-row>
        <v-col cols="12" md="3" sm="6">
          <v-card>
            <img src="~assets/image/content/content-1.jpeg" class="white--text align-end "
                 gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                 height="200px" width="100%">
            <v-card-title>
              <template v-if="currentLanguage === 'TH'">
                72% การันตีความแม่นยำ
              </template>
              <template v-else>
                72% Accurate Guarantee!!
              </template>
            </v-card-title>
            <v-card-text style="overflow-y: auto; height:100px">
              <div>
                <span v-if="currentLanguage === 'TH'" style="font-size: large">ทีมงานมืออาชีพและการประมวลผล AI ของเราเพื่อช่วยในการคำนวณที่แม่นยำ</span>
                <span v-else style="font-size: large">We can <b><u>guarantee</u></b> at least 72%. You can believe our professional team and <b><u>AI</u></b> computing for help accurate calculate.</span>
              </div>

            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <v-card>
            <img src="~assets/image/content/content-2.jpeg" class="white--text align-end "
                 gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                 height="200px" width="100%">
            <v-card-title>
              <template v-if="currentLanguage === 'TH'">มั่นใจในความมั่งคั่ง</template>
              <template v-else>Confident for wealth</template>
            </v-card-title>
            <v-card-text style="overflow-y: auto; height:100px">
              <div>
                <span
                    v-if="currentLanguage === 'TH'">ด้วยการคาดการณ์ที่แม่นยำจึงมีสภาพคล่องที่ดี แม้ว่าตลาดจะผันผวนมาก</span>
                <span v-else style="font-size: large">With <b><u>accurate</u></b> forecasts therefore good liquidity Even though the market is very volatile.</span>
              </div>

            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <v-card>
            <img src="~assets/image/content/content-3.jpeg" class="white--text align-end "
                 gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                 height="200px" width="100%">
            <v-card-title>
              <template v-if="currentLanguage === 'TH'">เลือกเทคนิคไหนดี ?</template>
              <template v-else> Which one technic ?</template>
            </v-card-title>
            <v-card-text style="overflow-y: auto; height:100px">
              <div>
                <span v-if="currentLanguage === 'TH'">“หมดกังวล” ให้เลือกเทคนิคมากมายเพื่อการค้า เราสามารถจัดการพอร์ตของคุณได้แบบเรียลไทม์</span>
                <span v-else style="font-size: large">"Don't worry" to choose a lot of technic for trade. We can manage your port in <b><u>real-time</u></b>.</span>
              </div>

            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="3" sm="6">
          <v-card>
            <img src="~assets/image/content/content-4.png" class="white--text align-end "
                 gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                 height="200px" width="100%">
            <v-card-title>
              <template v-if="currentLanguage === 'TH'">ทำงานอย่างมืออาชีพ</template>
              <template v-else> Work professionally</template>
            </v-card-title>
            <v-card-text style="overflow-y: auto; height:100px">
              <div>
                <span style="font-size: large">Experienced team A large number of people are keeping an eye on every move in the crypto world.</span>
              </div>

            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </template>
    <!--    <template class="testQRCode">-->
    <!--      <v-card>-->
    <!--        <v-card-title>-->
    <!--          QR Code-->
    <!--        </v-card-title>-->
    <!--        <v-card-text>-->
    <!--          <q-r-code></q-r-code>-->
    <!--        </v-card-text>-->
    <!--      </v-card>-->
    <!--    </template>-->
  </div>
</template>

<script>

import {mapState} from 'vuex'
import QRCode from '@/components/QRCode'

export default {
  components: {
    QRCode,
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
  },
  data() {
    return {
      banners: [
        {
          src: require('../assets/image/content/banner-1.jpeg')
        },
        {
          src: require('../assets/image/content/banner-2.jpeg')
        },
        {
          src: require('../assets/image/content/banner-3.jpeg')
        },
        {
          src: require('../assets/image/content/banner-4.jpeg')
        },
      ],
    }
  },
}
</script>
