<template>
  <v-container>
    <div class="d-flex justify-center mt-10">
      <v-card light width="500" style="border: solid; border-radius: 15px">
        <v-card-title class="justify-center mt-5">
          <h2>
            <template v-if="selectedLanguage==='TH'">
              ลงชื่อเข้าใช้งาน
            </template>
            <template v-else>
              Login
            </template>
          </h2>
        </v-card-title>
        <v-card-text class="justify-center mt-2">
          <v-form ref="loginForm" @submit.prevent="loginHandler()">
            <v-row class="justify-center">
              <v-col cols="11">
                <v-text-field :label="hl_email" type="email" name="email" v-model="email" hide-details
                              :rules="[rules.required]"/>
              </v-col>
              <v-col cols="11">
                <v-text-field :label="hl_password" :type="passwordValue ? 'password' : 'text'" name="password"
                              v-model="password" hide-details
                              @click:append="() => (passwordValue = !passwordValue)"
                              :rules="[rules.required]" :append-icon="passwordValue ? 'mdi-eye' : 'mdi-eye-off'"/>
              </v-col>
            </v-row>
            <v-row class="d-flex justify-center">
              <v-col cols="11">
                <v-btn type="submit" rounded dark style="background-color: #4ECBC2"
                       width="100%" class="pa-7" :loading="inProgress">
                  <span style="font-size: large; font-weight: bold" v-if="selectedLanguage === 'TH'">
                    เข้าสู่ระบบ
                  </span>
                  <span style="font-size: large" v-else>
                    Sign in
                  </span>
                </v-btn>
              </v-col>
            </v-row>
            <v-row class="d-flex justify-center">
              <v-col cols="3">
                <v-btn text style="color: #4ECBC2" width="100%" class="pa-4">
                  <span style="font-size: large" v-if="selectedLanguage === 'TH'">
                    ลืมรหัสผ่าน
                  </span>
                  <span style="font-size: large" v-else>
                    Forget Password
                  </span>
                </v-btn>
              </v-col>
            </v-row>
            <v-row class="d-flex justify-center">
              <v-col cols="4">
                <v-select
                    prepend-inner-icon="mdi-web"
                    v-model="selectedLanguage"
                    :items="languageData"
                    dense
                    outlined
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </div>

    <v-dialog width="300" v-model="isShowDialogError">
      <v-card light>
        <v-card-title style="background-color: #F06292; color: white">
          <template v-if="currentLanguage ==='TH'">
            แจ้งเตือน
          </template>
          <template v-else>
            Error
          </template>
          <v-spacer></v-spacer>
          <v-btn icon @click.prevent="isShowDialogError = false" dark>
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="mt-3">
          <template v-if="currentLanguage === 'TH'">
            {{ errorMessage.th }}
          </template>
          <template v-else>
            {{ errorMessage.en }}
          </template>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!--    <v-dialog width="300" v-model="isShowDialogSuccess">-->
    <!--      <v-card light>-->
    <!--        <v-card-title style="background-color: teal">-->
    <!--          <template v-if="currentLanguage ==='TH'">-->
    <!--            ล็อคอินสำเร็จ-->
    <!--          </template>-->
    <!--          <template v-else>-->
    <!--            Login Success-->
    <!--          </template>-->
    <!--          <v-spacer></v-spacer>-->
    <!--          <v-btn icon @click.prevent="isShowDialogSuccess = false">-->
    <!--            <v-icon>mdi-close</v-icon>-->
    <!--          </v-btn>-->
    <!--        </v-card-title>-->
    <!--        <v-divider></v-divider>-->
    <!--        <v-card-text class="mt-3">-->
    <!--          <template v-if="currentLanguage === 'TH'">-->
    <!--            กำลังเข้าสู่ระบบ-->
    <!--          </template>-->
    <!--          <template v-else>-->
    <!--            Logging in-->
    <!--          </template>-->
    <!--        </v-card-text>-->
    <!--      </v-card>-->
    <!--    </v-dialog>-->

  </v-container>
</template>
<script>
import {mapState} from "vuex";

export default {
  layout: 'blank',
  data() {
    return {
      email: '',
      password: '',
      selectedLanguage: 'TH',
      languageData: ['TH', 'EN'],
      rules: {
        required: value => !!value || 'Required.',
      },
      passwordValue: String,
      errorMessage: {},
      isShowDialogError: false,
      // isShowDialogSuccess: false,
      inProgress: false,
    }
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
    }),
    hl_email() {
      if (this.selectedLanguage === 'TH') {
        return 'กรอกอีเมล์'
      } else {
        return 'email'
      }
    }
    ,
    hl_password() {
      if (this.selectedLanguage === 'TH') {
        return 'กรอกพาสเวิร์ด'
      } else {
        return 'password'
      }
    }
    ,
  }
  ,
  methods: {
    // async login(e) {
    //   console.log('e :', e)
    //   if (!this.email || !this.password) {
    //     this.buildValidate()
    //     return
    //   }
    //   e.preventDefault();
    //   const payload = {
    //     email: this.email,
    //     password: this.password
    //   };
    //   try {
    //     await this.$auth.loginWith('local', {
    //       data: payload
    //     });
    //     this.$router.push('/');
    //   } catch (e) {
    //     this.$router.push('/login');
    //   }
    // },
    async loginHandler(e) {
      if (this.$refs.loginForm.validate()) {
        this.inProgress = true
        try {
          const payload = {
            "data": {
              "Login": `${this.email}`,
              "Password": `${this.password}`
            }
          };
          // const response = await this.$auth.loginWith('local', {
          //   data: payload
          // });
          this.$auth.loginWith('local', {data: payload})
              .then((response) => {
                if (response.status === 200) {
                  if (response.data.LoginResult === 101) {
                    //success
                    //this.isShowDialogSuccess = true
                    this.$router.push('/');
                  }
                }
              }).catch((error) => {
            //console.log('error :', error.response)
            if (error.response.data.LoginResult === 102) {
              this.isShowDialogError = true
              this.errorMessage = {
                th: 'อีเมล์ หรือ พาสเวิร์ด ไม่ถูกต้อง',
                en: 'Incorrect email or password.'
              }
            }
            if (error.response.data.LoginResult === 103) {
              this.isShowDialogError = true
              this.errorMessage = {
                th: 'บัญชีนี้หมดอายุแล้ว กรุณาต่ออายุก่อนทำการล็อคอิน',
                en: 'This account has expired.'
              }
            }
            if (error.response.data.LoginResult === 104) {
              this.isShowDialogError = true
              this.errorMessage = {
                th: 'ไม่พบบัญชีผู้ใช้',
                en: 'Not found.'
              }
            }
          }).finally(() => {
            this.inProgress = false
          })

        } catch (e) {
          this.inProgress = false
          this.$router.push('/login');
        }
      }
    }
    ,
  }
}
;
</script>
