<template>
  <v-container>
    <div class="d-flex justify-center align-center">
      <v-card light width="100%">
        <v-card-title>
          <v-icon size="30" class="mr-2">
            mdi-lock-reset
          </v-icon>
          <h2 v-if="currentLanguage === 'TH'">ตั้งค่ารหัสผ่านใหม่</h2>
          <h2 v-else>Reset Password</h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="mb-4">
          <div class="body-header">
            <span v-if="currentLanguage === 'TH'">กรอกอีเมล์เพื่อยืนยันตัวตน</span>
            <span v-else>Complete email for verify identity.</span>
          </div>
          <v-form ref="resetPasswordForm" @submit.prevent="resetPasswordHandler()">
            <v-row>
              <v-col cols="12" md="4">
                <v-text-field
                    ref="password"
                    type="password"
                    v-model="password"
                    :label="hl_password"
                    :maxlength=" 10"
                    :rules="[rules.required]"
                    :error-messages="errorMessages"
                    @click:append="() => (passwordValue = !passwordValue)"
                    :append-icon="passwordValue ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="passwordValue ? 'password' : 'text'"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="4">
                <v-text-field
                    ref="confirmPassword"
                    type="password"
                    v-model="confirmPassword"
                    :label="hl_confirmPassword"
                    :maxlength="10"
                    :rules="[rules.required, rules.checkConfirmPassword]"
                    :error-messages="errorMessages"
                    @click:append="() => (confirmPasswordValue = !confirmPasswordValue)"
                    :append-icon="confirmPasswordValue ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="confirmPasswordValue ? 'password' : 'text'"
                ></v-text-field>
              </v-col>
            </v-row>
            <div class="d-flex justify-center">
              <v-btn dark type="submit" color="teal">
                <v-icon class="mr-2">
                  mdi-email-search-outline
                </v-icon>
                <template v-if="currentLanguage==='TH'">
                  รีเซทเลย
                </template>
                <template v-else>
                  Reset now
                </template>
              </v-btn>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </div>
    <error-dialog ref="errorDialog"></error-dialog>
    <success-dialog ref="successDialog" @emitCloseSuccessDialog="onEmitCloseSuccessDialog"></success-dialog>
  </v-container>
</template>

<script>
import {mapState} from "vuex";
import ErrorDialog from "~/components/ErrorDialog";
import SuccessDialog from "~/components/SuccessDialog";

export default {
  components: {
    ErrorDialog, SuccessDialog
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
    verifyKey() {
      return this.$route.query.verifyKey || null
    },
    hl_password() {
      if (this.currentLanguage === 'TH') {
        return 'กรอกพาสเวิร์ด'
      } else {
        return 'password'
      }
    },
    hl_confirmPassword() {
      if (this.currentLanguage === 'TH') {
        return 'กรอกพาสเวิร์ดอีกครั้ง'
      } else {
        return 'password again'
      }
    }
  },
  data() {
    return {
      password: null,
      passwordValue: String,
      confirmPassword: null,
      confirmPasswordValue: String,
      errorMessages: null,
      inProgress: false,
      rules: {
        required: value => !!value || 'Required.',
        checkConfirmPassword: value => value === this.password || 'password not match',
      },
    }
  },

  methods: {
    async resetPasswordHandler() {
      if (!this.sessionToken || !this.$route.query.verifyKey) {
        return
      }
      if (this.$refs.resetPasswordForm.validate()) {
        const data = {
          "data": {
            "VerifyKey": `${this.$route.query.verifyKey}`,
            "NewPassword": `${this.password}`,
          }
        }
        const header = {
          'Content-Type': 'application/json',
          'X-CSRF-TOKEN': `${this.sessionToken}`
        }
        await this.$axios.post('/Authen/ResetPassword', data, {
          headers: header
        }).then((data) => {
          //console.log('success data -> ', data)
          this.$refs.successDialog.showDialog(data)
        }).catch((error) => {
          //console.log('error:', error.response.data)
          this.$refs.errorDialog.showDialog(error.response.data)
        })
      }
    },
    onEmitCloseSuccessDialog() {
      this.$router.push('/login')
    }
  },
}
</script>

<style lang="scss" scoped>
.body-header {
  font-size: large;
}
</style>
