<template>
  <v-container>
    <div class="d-flex justify-center align-center">
      <v-card light width="100%">
        <v-card-title>
          <v-icon size="30" class="mr-2">
            mdi-account-edit
          </v-icon>
          <h2 v-if="currentLanguage === 'TH'">แก้ไขโปรไฟล์</h2>
          <h2 v-else>Edit Profile</h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="mb-4">
          <v-alert
              dense
              border="left"
              type="warning"
          >
            <v-row align="center">
              <v-col class="grow">
                <template v-if="currentLanguage === 'TH'">
                  แพคเกจของคุณกำลังจะ <strong><u>หมดอายุในวันที่</u></strong> {{ expiredDate | dateFormatForHumans }}
                </template>
                <template v-else>
                  Your package will <strong><u>expire on</u></strong> {{ expiredDate | dateFormatForHumans_EN }}
                </template>
                ({{ differentDate }})
              </v-col>
              <v-col class="shrink">
                <v-btn @click.prevent="onClickRenew()">
                  <template v-if="currentLanguage === 'TH'">
                    ต่ออายุตอนนี้เลย
                  </template>
                  <template v-else>
                    Renew now
                  </template>
                </v-btn>
              </v-col>
            </v-row>
          </v-alert>
          <v-form ref="profileForm" @submit.prevent="submitProfile">
            <v-container>
              <v-row class="justify-center">
                <v-col cols="2" class="d-flex justify-center">
                  <v-avatar color="orange" size="90">
                    <span class="white--text text-h2">{{ avatarCharacter }}</span>
                  </v-avatar>
                </v-col>
              </v-row>
              <v-row class="justify-center">
                <v-col cols="12" md="3" class="d-flex justify-center align-center">
                  <v-text-field
                      v-model="email"
                      :label="hl_email"
                      :rules="[rules.required, rules.email]"
                      :error-messages="errorMessages"
                      disabled
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="3" class="d-flex justify-center align-center">
                  <v-text-field
                      v-model="profileName"
                      :label="hl_profileName"
                      :rules="[rules.required]"
                      :error-messages="errorMessages"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="justify-center">
                <v-col cols="12" md="3" class="d-flex justify-center align-center">
                  <template v-if="!editPassword">
                    <template v-if="currentLanguage ==='TH'">
                      แก้ไขรหัสผ่าน
                    </template>
                    <template v-else>
                      change password.
                    </template>
                  </template>
                  <template v-else>
                    <template v-if="currentLanguage ==='TH'">
                      ยกเลิกการแก้ไข
                    </template>
                    <template v-else>
                      Not change yet.
                    </template>
                  </template>
                  <v-switch
                      v-model="editPassword"
                      class="ml-3"
                      inset
                  ></v-switch>
                </v-col>
                <v-col cols="12" md="2" v-if="editPassword" class="d-flex justify-center align-center">
                  <v-text-field
                      ref="oldPassword"
                      type="password"
                      v-model="oldPassword"
                      :label="hl_oldPassword"
                      :maxlength="10"
                      :rules="[rules.required]"
                      :error-messages="errorMessages"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="2" v-if="editPassword" class="d-flex justify-center align-center">
                  <v-text-field
                      ref="password"
                      type="password"
                      v-model="password"
                      :label="hl_password"
                      :maxlength="10"
                      :rules="[rules.required]"
                      :error-messages="errorMessages"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="2" v-if="editPassword" class="d-flex justify-center align-center">
                  <v-text-field
                      ref="confirmPassword"
                      type="password"
                      v-model="confirmPassword"
                      :label="hl_confirmPassword"
                      :maxlength="10"
                      :rules="[rules.required, rules.checkConfirmPassword]"
                      :error-messages="errorMessages"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="justify-center">
                <v-col cols="12" md="5">
                  <v-alert
                      v-model="isShowAlertOTPWaitingMessage"
                      border="bottom"
                      color="pink darken-1"
                      dark
                      dismissible
                  >
                    <div class="d-flex"></div>
                    <template v-if="currentLanguage ==='TH'">
                      กรุณารอ 5 นาที และกดแก้ไขรหัสผ่านใหม่อีกครั้ง
                    </template>
                    <template v-else>
                      please wait for re-change password again after 5 minutes ago.
                    </template>
                  </v-alert>
                </v-col>
              </v-row>
              <div class="d-flex justify-center mt-10">
                <v-btn dark type="submit" color="teal">
                  <v-icon class="mr-2">mdi-content-save</v-icon>
                  <template v-if="currentLanguage==='TH'">แก้ไขเรียบร้อย</template>
                  <template v-else>Finish</template>
                </v-btn>
                <v-btn color="error" class="ml-10" @click="discardChange" v-if="isShowDiacardChangeButton">
                  <v-icon>mdi-restore</v-icon>
                </v-btn>
              </div>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </div>
    <o-t-p-dialog ref="otpDialog" @emitCloseDialog="onEmitCloseDialog"></o-t-p-dialog>
    <error-dialog ref="errorDialog"></error-dialog>
    <success-dialog ref="successDialog"></success-dialog>
  </v-container>
</template>
<script>

import {mapState} from 'vuex'
import moment from "moment";
import OTPDialog from "~/components/OTPDialog";
import ErrorDialog from "~/components/ErrorDialog";
import SuccessDialog from "~/components/SuccessDialog";

export default {
  components: {SuccessDialog, OTPDialog, ErrorDialog},
  middleware: 'auth',
  data() {
    return {
      id: null,
      email: null,
      profileName: null,
      expiredDate: null,
      errorMessages: null,
      privateKey: null,
      oldPassword: null,
      password: null,
      confirmPassword: null,
      rules: {
        required: value => !!value || 'Required.',
        checkConfirmPassword: value => value === this.password || 'password not match',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
      originalProfile: null,
      editPassword: false,
      isOpenOtpDialog: false,
      isShowAlertOTPWaitingMessage: false,
      otp: null,

    }
  },
  watch: {
    editPassword() {
      this.clearPasswordEditing()
      if (this.editPassword) {
        this.$refs.otpDialog.openDialog(this.email)
        this.isOpenOtpDialog = true
      }
    }
  },
  mounted() {
    // if (this.$auth?.user?.Email) {
    //   this.email = this.$auth.user.Email ?? null
    // }
    // if (this.$auth?.user?.ProfileName) {
    //   this.profileName = this.$auth?.user?.ProfileName ?? null
    // }
    this.getProfile()
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
    avatarCharacter() {
      if (this.$auth?.user?.Email) {
        return this.$auth.user.Email.substring(0, 2);
      }
      return '-'
    },
    isShowDiacardChangeButton() {
      if (!this.originalProfile) {
        return
      }
      return this.email !== this.originalProfile.Email || this.profileName !== this.originalProfile.ProfileName
    },
    hl_email() {
      if (this.currentLanguage === 'TH') {
        return 'อีเมล์'
      } else {
        return 'Email'
      }
    },
    hl_profileName() {
      if (this.currentLanguage === 'TH') {
        return 'ชื่อโปรไฟล์'
      } else {
        return 'Profile Name'
      }
    },
    hl_oldPassword() {
      if (this.currentLanguage === 'TH') {
        return 'รหัสผ่านเก่า'
      } else {
        return 'Old Password'
      }
    },
    hl_password() {
      if (this.currentLanguage === 'TH') {
        return 'รหัสผ่านใหม่'
      } else {
        return 'New Password'
      }
    },
    hl_confirmPassword() {
      if (this.currentLanguage === 'TH') {
        return 'รหัสผ่านใหม่อีกครั้ง'
      } else {
        return 'Confirm New Password'
      }
    },
    differentDate() {
      const start = moment()
      const end = moment(this.expiredDate)
      const diffTime = end.diff(start, 'minutes')
      const diffNumDays = Math.floor(diffTime / 1440);
      const unitLanguage = this.currentLanguage === 'TH' ? 'วัน' : 'day'
      return `${diffNumDays}` + unitLanguage
    },
  },
  methods: {
    submitProfile() {
      if (this.$refs.profileForm.validate()) {
        this.saveProfile()
      }
    },
    discardChange() {
      this.email = this.originalProfile.Email ?? null
      this.profileName = this.originalProfile.ProfileName ?? null
    },
    getProfile() {
      this.$axios.post('UserProfile/Get')
          .then(({data}) => {
            this.originalProfile = data
            if (data) {
              this.id = data.Id ?? null
              this.email = data.Email ?? null
              this.profileName = data.ProfileName ?? null
              this.expiredDate = data.ExpiredDate ?? null
              this.privateKey = data.PrivateKey ?? null
            }
          })
          .catch((error) => {
            this.$refs.errorDialog.showDialog(error.response.data)
          })
    },
    saveProfile() {
      if (!this.sessionToken || !this.id) {
        return
      }

      let data = {}
      if (this.editPassword) {
        data = {
          "data": {
            "UserId": this.id,
            "ProfileName": `${this.profileName}`,
            "SaveNewPassword": true,
            "Password": `${this.oldPassword}`,
            "NewPassword": `${this.password}`,
            "PrivateKey": `${this.privateKey}`,
            "OTP": this.otp ? parseInt(this.otp) : null
          }
        }
      } else {
        data = {
          "data": {
            "UserId": this.id,
            "ProfileName": `${this.profileName}`,
            "SaveNewPassword": false,
            "Password": null,
            "NewPassword": null,
            "PrivateKey": `${this.privateKey}`,
            "OTP": null
          }
        }
      }

      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${this.sessionToken}`
      }
      this.$axios.post('UserProfile/Save', data, {
        headers: header
      })
          .then(({data}) => {
            this.$refs.successDialog.showDialog(data)
          })
          .catch((error) => {
            this.$refs.errorDialog.showDialog(error.response.data)
            this.editPassword = false
            if (this.editPassword) {
              this.isShowAlertOTPWaitingMessage = true
            }
          })
    },
    clearPasswordEditing() {
      this.oldPassword = null
      this.password = null
      this.confirmPassword = null
    },
    onEmitCloseDialog(returnObject) {
      if (!returnObject.isSuccess) {
        this.editPassword = false
        this.isShowAlertOTPWaitingMessage = true
        this.otp = null
      } else {
        this.otp = returnObject.otp
        this.isShowAlertOTPWaitingMessage = false
      }
    },
    onClickRenew() {
      this.$router.push({path: '/register', query: {renewEmail: this.email}})
    },
  },
}
</script>
