<template>
  <v-container>
    <div class="d-flex justify-center align-center">
      <v-card light width="100%">
        <v-card-title>
          <v-icon size="30" class="mr-2">
            mdi-fingerprint
          </v-icon>
          <h2 v-if="currentLanguage === 'TH'">
            <template v-if="renewEmail">
              ต่ออายุอีเมล์ : {{ renewEmail }}
            </template>
            <template v-else>
              สร้างบัญชีผู้ใช้
            </template>

          </h2>
          <h2 v-else>
            <template v-if="renewEmail">
              Renew for email : {{ renewEmail }}
            </template>
            <template v-else>
              Create Your Account
            </template>
          </h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="mb-4">
          <div class="body-header-package">
            <span v-if="currentLanguage === 'TH'">เลือก package ที่ต้องการ</span>
            <span v-else>Choose your package.</span>
          </div>

          <div class="price-table">
            <service-price-table :access-id="accessId" :checkType="renewEmail"
                                 @emitCurrentSelectedPackage="onEmitCurrentSelectedPackage"></service-price-table>
          </div>

          <!--          <template v-if="renewEmail">-->
          <!--            &lt;!&ndash;            <div class="d-flex justify-center">&ndash;&gt;-->
          <!--            &lt;!&ndash;              <v-btn disabled class="mr-3">&ndash;&gt;-->
          <!--            &lt;!&ndash;                <v-icon class="mr-2">&ndash;&gt;-->
          <!--            &lt;!&ndash;                  mdi-autorenew&ndash;&gt;-->
          <!--            &lt;!&ndash;                </v-icon>&ndash;&gt;-->
          <!--            &lt;!&ndash;                <template v-if="currentLanguage==='TH'">&ndash;&gt;-->
          <!--            &lt;!&ndash;                  ต่ออายุด้วย Exchange อื่น (coming soon)&ndash;&gt;-->
          <!--            &lt;!&ndash;                </template>&ndash;&gt;-->
          <!--            &lt;!&ndash;                <template v-else>&ndash;&gt;-->
          <!--            &lt;!&ndash;                  Renew Continue with other exchange (coming soon)&ndash;&gt;-->
          <!--            &lt;!&ndash;                </template>&ndash;&gt;-->
          <!--            &lt;!&ndash;              </v-btn>&ndash;&gt;-->

          <!--            &lt;!&ndash;              <v-btn dark @click.prevent="renew()" color="teal">&ndash;&gt;-->
          <!--            &lt;!&ndash;                <v-icon class="mr-2">&ndash;&gt;-->
          <!--            &lt;!&ndash;                  mdi-autorenew&ndash;&gt;-->
          <!--            &lt;!&ndash;                </v-icon>&ndash;&gt;-->
          <!--            &lt;!&ndash;                <template v-if="currentLanguage==='TH'">&ndash;&gt;-->
          <!--            &lt;!&ndash;                  ต่ออายุเลย (ไม่มีค่าธรรมเนียม)&ndash;&gt;-->
          <!--            &lt;!&ndash;                </template>&ndash;&gt;-->
          <!--            &lt;!&ndash;                <template v-else>&ndash;&gt;-->
          <!--            &lt;!&ndash;                  Renew Now (No Fee)&ndash;&gt;-->
          <!--            &lt;!&ndash;                </template>&ndash;&gt;-->
          <!--            &lt;!&ndash;              </v-btn>&ndash;&gt;-->
          <!--            &lt;!&ndash;            </div>&ndash;&gt;-->
          <!--          </template>-->
          <template class="register-input">
            <div class="body-header-personal" v-if="!renewEmail">
              <span v-if="currentLanguage === 'TH'">กรอกอีเมล์และพาสเวิร์ด</span>
              <span v-else>Complete email and password.</span>
            </div>
            <v-form ref="registerForm" @submit.prevent="submitHandler">
              <v-container>
                <v-row v-if="!renewEmail">
                  <v-col cols="12" md="4" class="d-flex justify-center align-center">
                    <v-text-field
                        v-model="email"
                        label="Email address"
                        :rules="[rules.required, rules.email]"
                        :error-messages="errorMessages"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                        ref="password"
                        type="password"
                        v-model="password"
                        label="Password"
                        :maxlength="10"
                        :rules="[rules.required]"
                        :error-messages="errorMessages"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" md="4">
                    <v-text-field
                        ref="confirmPassword"
                        type="password"
                        v-model="confirmPassword"
                        label="Confirm Password"
                        :maxlength="10"
                        :rules="[rules.required, rules.checkConfirmPassword]"
                        :error-messages="errorMessages"
                    ></v-text-field>
                  </v-col>
                </v-row>


                <div class="d-flex justify-center">
                  <v-btn dark type="submit" color="teal">
                    <v-icon class="mr-2">
                      mdi-account-cash
                    </v-icon>
                    <template v-if="currentLanguage==='TH'">
                      ดำเนินการต่อ
                    </template>
                    <template v-else>
                      Continue
                    </template>
                  </v-btn>
                </div>
              </v-container>
            </v-form>
          </template>

        </v-card-text>
        <v-alert
            v-model="isShowAlert"
            border="bottom"
            color="pink darken-1"
            dark
            dismissible
        >
          <div class="d-fle"></div>
          {{ errorMessage }}
        </v-alert>
      </v-card>
    </div>
    <v-dialog v-model="isShowDialogRegisterSuccess" width="400">
      <v-card light>
        <v-card-title style="background-color: teal; color: white">
          <template v-if="currentLanguage==='TH'">
            สมัครเรียบร้อยแล้ว
          </template>
          <template v-else>
            Registered
          </template>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row class="mt-3">
            <v-col cols="4" class="d-flex justify-end">Profile Name :</v-col>
            <v-col cols="7" v-if="applicantDetail.ProfileName">{{ applicantDetail.ProfileName }}</v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="d-flex justify-end">Email :</v-col>
            <v-col cols="8">{{ applicantDetail.Email }}</v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="d-flex justify-end">Period :</v-col>
            <v-col cols="5">{{ applicantDetail.Peroid }}</v-col>
            <v-col cols="3">{{ applicantDetail.UnitPeroid }}</v-col>
          </v-row>
          <v-row>
            <v-col cols="3" class="d-flex justify-end">Paid :</v-col>
            <v-col cols="5">{{ applicantDetail.ActualPaid }}</v-col>
            <v-col cols="3">{{ applicantDetail.Currency }}</v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click.prevent="onClickOk" color="teal" dark>
            <template v-if="currentLanguage === 'TH'">
              เข้าใจแล้ว
            </template>
            <template v-else>
              OK
            </template>

          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <choose-web-trade-dialog ref="chooseWebTradeDialog"
                             @emitChooseWebTradeDialog="onEmitChooseWebTradeDialog">
    </choose-web-trade-dialog>

    <choose-transfer-network-dialog ref="chooseTransferNetworkDialog"
                                    @emitSelectedNetwork="onEmitSelectedNetwork"></choose-transfer-network-dialog>

    <attachment-dialog ref="attachmentDialog"
                       @emitAfterCryptoPaymentVerifyPass="onEmitAfterCryptoPaymentVerifyPass">
    </attachment-dialog>
    <attachment-other-dialog ref="attachmentOtherDialog"
                             @emitAfterCryptoDepositVerifyPass="onEmitAfterCryptoDepositVerifyPass"></attachment-other-dialog>

    <success-dialog ref="successDialog" @emitCloseSuccessDialog="onEmitCloseSuccessDialog"></success-dialog>
  </v-container>
</template>

<script>

import {mapState} from 'vuex'
import ServicePriceTable from "~/components/ServicePriceTable"
import AttachmentDialog from "~/components/AttachmentDialog";
import AttachmentOtherDialog from "~/components/AttachmentOtherDialog";
import SuccessDialog from "~/components/SuccessDialog";
import ChooseWebTradeDialog from "~/components/ChooseWebTradeDialog";
import ChooseTransferNetworkDialog from "~/components/ChooseTransferNetworkDialog";

export default {
  asyncData({env}) {
    return {
      accessId: env.accessId,
      apiUrl: env.apiUrl,
      apiFileUrl: env.apiFileUrl
    }
  },
  components: {
    SuccessDialog,
    ServicePriceTable,
    AttachmentDialog,
    AttachmentOtherDialog,
    ChooseWebTradeDialog,
    ChooseTransferNetworkDialog,
  },
  computed: {
    ...mapState({
      currentLanguage: state => state.language.currentLanguage,
      sessionToken: state => state.session.sessionToken
    }),
    renewEmail() {
      return this.$route.query?.renewEmail || null
    },
  },
  data() {
    return {
      email: null,
      errorMessages: null,
      password: null,
      confirmPassword: null,
      rules: {
        required: value => !!value || 'Required.',
        checkConfirmPassword: value => value === this.password || 'password not match',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
      currentSelectedPackageObject: {},
      isShowDialogRegisterSuccess: false,
      errorMessage: null,
      isShowAlert: false,
      applicantDetail: {},
      invalid: false,
      registerId: null,
    }
  },
  mounted() {
    //this.isShowDialogRegisterSuccess = true
  },
  methods: {
    onClickCloseDialog() {
      this.$emit('close')
    },
    onEmitCurrentSelectedPackage(packageObject) {
      this.currentSelectedPackageObject = packageObject
    },
    submitHandler() {
      if (this.renewEmail) {
        // he is renew man
        this.renew()
      } else if (this.$refs.registerForm.validate()) {
        // he will register.
        this.register()
      }
    },
    // register(webTradeForRegister) {
    //   if (!this.sessionToken || !webTradeForRegister) {
    //     return
    //   }
    // },
    onEmitAfterCryptoPaymentVerifyPass(result) {
      if (result && result.status === 'success') {
        if (result.type === 'register') {
          this.getApplicate(this.sessionToken, result.referenceId)
          this.clearRegisterId()
        } else if (result.type === 'renew') {
          this.$refs.successDialog.showDialog(result.responseSuccess)
          this.clearRegisterId()
        }

      }
    },
    getApplicate(token, referenceId) {
      if (!referenceId) {
        return
      }
      const header = {
        'Content-Type': 'application/json',
        'X-CSRF-TOKEN': `${token}`
      }
      const data = {
        "ReferenceId": `${referenceId}`,
      }
      this.$axios.post('/Register/GetApplicated', data, {
        headers: header
      }).then(({data}) => {
        this.applicantDetail = data
        this.isShowDialogRegisterSuccess = true
      }).catch(error => {
        if (this.currentLanguage === 'TH') {
          this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
        } else {
          this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
        }
        this.isShowAlert = true
      })
    },
    onClickOk() {
      this.clear()
      this.isShowDialogRegisterSuccess = false
      this.$router.push('/login');
    },
    clear() {
      this.email = null
      this.errorMessages = null
      this.password = null
      this.confirmPassword = null
      this.currentSelectedPackageObject = {}
      this.isShowDialogRegisterSuccess = false
      this.errorMessage = null
      this.isShowAlert = false
      this.applicantDetail = {}
    },
    renew() {
      this.$refs.chooseWebTradeDialog.openDialog()
    },
    onEmitCloseSuccessDialog() {
      this.$router.push('/profile')
    },
    onEmitChooseWebTradeDialog(emitValueWebTrade) {
      if (!emitValueWebTrade) {
        return
      }
      this.$refs.chooseWebTradeDialog.closeDialog()


      if (this.renewEmail) {
        //renew
        if (emitValueWebTrade === 'binance') {
          this.renewBinance()
        }
        if (emitValueWebTrade === 'other') {
          this.renewWithOther()
        }
      } else {
        //register
        if (emitValueWebTrade === 'binance') {
          this.registerBinance()
        }
        if (emitValueWebTrade === 'other') {
          this.registerWithOther()
        }
      }

    },
    register() {
      if (!this.sessionToken) {
        return
      }
      //let _email = this.renewEmail ? this.renewEmail : this.email

      // this _email for register only.
      const _email = this.email

      if (this.registerId) {
        // he is registered.
        this.$refs.chooseWebTradeDialog.openDialog()
      } else {
        // he need register.
        this.clearRegisterId()
        const data = {
          "data": {
            "Password": `${this.password}`,
            "Email": `${_email}`,
            "PackagePriceId": this.currentSelectedPackageObject.packagePriceId ? `${this.currentSelectedPackageObject.packagePriceId}` : 0,
            "CryptoCurrencyId": this.currentSelectedPackageObject.cryptoCurrencyId ? `${this.currentSelectedPackageObject.cryptoCurrencyId}` : 0,
            "CryptoSetPrice": this.currentSelectedPackageObject.cryptoSetPrice ? `${this.currentSelectedPackageObject.cryptoSetPrice}` : 0,
            "CryptoUnitCode": this.currentSelectedPackageObject.cryptoUnitPrice ? `${this.currentSelectedPackageObject.cryptoUnitPrice}` : '',
          }
        }
        const header = {
          'Content-Type': 'application/json',
          'X-CSRF-TOKEN': `${this.sessionToken}`
        }

        this.$axios.post('/Register/Save', data, {
          headers: header
        }).then(({data}) => {
          if (data.RegisterId) {
            this.registerId = data.RegisterId
            if (data.Status === 20) {
              this.getApplicate(this.sessionToken, data.RegisterId)
            } else {
              this.$refs.chooseWebTradeDialog.openDialog()
            }
          }
        }).catch(error => {
          if (this.currentLanguage === 'TH') {
            this.errorMessage = error.response?.data?.ErrorMessageTH?.length > 0 ? error.response?.data?.ErrorMessageTH[0] : 'เกิดข้อผิดพลาด กรุณาทำรายการใหม่อีกครั้ง'
          } else {
            this.errorMessage = error.response?.data?.ErrorMessageEN?.length > 0 ? error.response?.data?.ErrorMessageEN[0] : 'Something went wrong, please register again.'
          }
          this.isShowAlert = true
        })
      }
    },


    registerBinance() {
      if (!this.sessionToken || !this.currentSelectedPackageObject) {
        return
      }
      this.$refs.attachmentDialog.openDialog('register', this.registerId, this.apiUrl, this.apiFileUrl, this.currentSelectedPackageObject)
    },
    registerWithOther() {
      if (!this.sessionToken || !this.currentSelectedPackageObject) {
        return
      }
      this.$refs.chooseTransferNetworkDialog.openDialog(this.currentSelectedPackageObject.cryptoUnitPrice)
    },
    onEmitSelectedNetwork(emitValueSelectedNetwork) {
      if (!emitValueSelectedNetwork) {
        return
      }
      this.$refs.chooseTransferNetworkDialog.closeDialog()

      if (this.renewEmail) {
        this.$refs.attachmentOtherDialog.openDialog('renew', emitValueSelectedNetwork, null, this.currentSelectedPackageObject)
      } else {
        this.$refs.attachmentOtherDialog.openDialog('register', emitValueSelectedNetwork, this.registerId, this.currentSelectedPackageObject)
      }


    },
    onEmitAfterCryptoDepositVerifyPass(result) {
      if (result && result.status === 'success') {
        if (result.type === 'register') {
          this.getApplicate(this.sessionToken, result.referenceId)
          this.clearRegisterId()
        } else if (result.type === 'renew') {
          this.$refs.successDialog.showDialog(result.responseSuccess)
          this.clearRegisterId()
        }
      }
    },
    clearRegisterId() {
      this.registerId = null
    },

    renewBinance() {
      if (!this.sessionToken || !this.currentSelectedPackageObject) {
        return
      }
      this.$refs.attachmentDialog.openDialog('renew', null, this.apiUrl, this.apiFileUrl, this.currentSelectedPackageObject)
    },
    renewWithOther() {
      if (!this.sessionToken || !this.currentSelectedPackageObject) {
        return
      }
      this.$refs.chooseTransferNetworkDialog.openDialog(this.currentSelectedPackageObject.cryptoUnitPrice)
    }
  },
}
</script>

<style lang="scss" scoped>
.body-header-package {
  font-size: large;
  margin-bottom: 1rem;
}

.body-header-personal {
  font-size: large;
  margin-top: 3rem;
}
</style>
